Repository spacemeshos/svm, pull requests merged in 2021-11, with the labels that each got.

#403 Fix Windows linkage and noncore `Sections` encoding
  .github/copy-artifacts.sh
  .github/workflows/ci.yml
  crates/cli/src/subcmd_craft_deploy/mod.rs
  crates/codec/src/section/decode.rs
  crates/codec/src/section/mod.rs
  crates/codec/src/template.rs
  crates/runtime/src/runtime/default.rs
Labels: bug, critical, v0.3, svm

#409 Move the 0.0.14 changes into `master`
  .github/workflows/ci.yml
  crates/runtime-ffi/src/api.rs
  crates/runtime-ffi/src/lib.rs
  crates/runtime-ffi/src/result.rs
Labels: svm-c-api, v0.3

#411 Run `cargo upgrade --workspace`
  Cargo.lock
  crates/abi-decoder/Cargo.toml
  crates/abi-encoder/Cargo.toml
  crates/cli/Cargo.toml
  crates/codec/Cargo.toml
  crates/gas/Cargo.toml
  crates/hash/Cargo.toml
  crates/layout/Cargo.toml
  crates/program/Cargo.toml
  crates/query/Cargo.toml
  crates/runtime-ffi/Cargo.toml
  crates/runtime/Cargo.toml
  crates/sdk-alloc/Cargo.toml
  crates/sdk-host/Cargo.toml
  crates/sdk-macros/Cargo.toml
  crates/sdk-std/Cargo.toml
  crates/sdk-storage/Cargo.toml
  crates/sdk-types/Cargo.toml
  crates/sdk/Cargo.toml
  crates/state/Cargo.toml
  crates/svm-workspace-hack/Cargo.toml
  crates/types/Cargo.toml
  tests/sdk/Cargo.toml
Labels: small, svm

#412 Safety improvements: mitigation for PR #390
  crates/abi-decoder/src/calldata.rs
  crates/abi-decoder/src/cursor.rs
  crates/abi-decoder/src/lib.rs
  crates/runtime-ffi/src/api.rs
  crates/runtime-ffi/src/lib.rs
  crates/runtime-ffi/src/resource_tracker.rs
  crates/runtime-ffi/src/runtime_tracker.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/runtime/mod.rs
  crates/runtime/src/runtime/runtime.rs
  crates/runtime/src/testing.rs
  crates/runtime/tests/runtime_tests.rs
  crates/state/src/account_storage.rs
  crates/types/src/address.rs
  tests/sdk/src/lib.rs
Labels: bug, svm-core, v0.3, svm

#400 SVM High-level documentation - Introduction to SVM
  docs/intro.md
Labels: documentation

#416 Safety improvements: (additional) mitigation for PR #390
  crates/abi-decoder/src/cursor.rs
  crates/abi-decoder/src/decoder.rs
  crates/runtime/tests/wasm/calldata/Cargo.lock
  crates/runtime/tests/wasm/runtime_calldata.wasm
Labels: small, svm

#418 Use Rust 2021 edition (new feature resolver!)
  crates/abi-decoder/Cargo.toml
  crates/abi-encoder/Cargo.toml
  crates/abi-layout/Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/examples/craft-deploy/Cargo.toml
  crates/codec/Cargo.toml
  crates/gas/Cargo.toml
  crates/hash/Cargo.toml
  crates/layout/Cargo.toml
  crates/program/Cargo.toml
  crates/query/Cargo.toml
  crates/runtime-ffi/Cargo.toml
  crates/runtime-ffi/tests/wasm/counter/Cargo.toml
  crates/runtime-ffi/tests/wasm/failure/Cargo.toml
  crates/runtime/Cargo.toml
  crates/runtime/tests/wasm/calldata/Cargo.toml
  crates/sdk-alloc/Cargo.toml
  crates/sdk-host-ffi/Cargo.toml
  crates/sdk-host-mock/Cargo.toml
  crates/sdk-host/Cargo.toml
  crates/sdk-macros/Cargo.toml
  crates/sdk-mock/Cargo.toml
  crates/sdk-std/Cargo.toml
  crates/sdk-storage-ffi/Cargo.toml
  crates/sdk-storage-mock/Cargo.toml
  crates/sdk-storage/Cargo.toml
  crates/sdk-types/Cargo.toml
  crates/sdk/Cargo.toml
  crates/state/Cargo.toml
  crates/svm/Cargo.toml
  crates/types/Cargo.toml
  tests/abi/Cargo.toml
  tests/sdk/Cargo.toml
Labels: enhancement, small, svm

#410 New C API features: `svm_create_account`, `svm_increase_balance`, etc.
  crates/abi-decoder/src/decoder.rs
  crates/runtime-ffi/src/api.rs
  crates/runtime/tests/wasm/calldata/CallDataTemplate-meta.json
  crates/runtime/tests/wasm/runtime_calldata.wasm
  crates/sdk-std/src/lib.rs
  crates/sdk-std/src/try.rs
Labels: svm-core, svm-c-api, v0.3

#427 Aggregate many arguments to `svm_get_account` into a `struct svm_account`
  crates/runtime-ffi/src/api.rs
  crates/runtime-ffi/tests/api_tests.rs
  crates/sdk/MyTemplate-meta.json
Labels: svm-c-api
